openapi: 3.0.3
info:
  title: PlotIt API
  description: A production-ready Express.js template with TypeScript, Drizzle ORM, and JWT Authentication
  version: 1.0.1
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.plotit-app.com/v1
    description: Production API
  - url: /api
    description: Relative API path
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Enter the token with the `Bearer ` prefix, e.g. "Bearer abcde12345".
paths:
  /auth/login:
    $ref: './auth/paths.yaml#/~1login'
  /auth/refresh:
    $ref: './auth/paths.yaml#/~1refresh'
  /auth/logout:
    $ref: './auth/paths.yaml#/~1logout'
  /auth/verify:
    $ref: './auth/paths.yaml#/~1verify'
  /users:
    $ref: './users/paths.yaml#/~1'
  /users/{id}:
    $ref: './users/paths.yaml#/~1{id}'
  /universes:
    $ref: './universes/paths.yaml#/~1'
  /universes/{id}:
    $ref: './universes/paths.yaml#/~1{id}'
  /regions:
    $ref: './regions/paths.yaml#/~1'
  /regions/{id}:
    $ref: './regions/paths.yaml#/~1{id}'
  /maps:
    $ref: './maps/paths.yaml#/~1'
  /maps/{id}:
    $ref: './maps/paths.yaml#/~1{id}'
  /maps/{id}/svg:
    $ref: './maps/paths.yaml#/~1{id}~1svg'
  /maps/{id}/svg/{mappingId}:
    $ref: './maps/paths.yaml#/~1{id}~1svg~1{mappingId}'
  /races:
    $ref: './races/paths.yaml#/~1'
  /races/{id}:
    $ref: './races/paths.yaml#/~1{id}'
  /races/{id}/ethnic-groups:
    $ref: './races/paths.yaml#/~1{id}~1ethnic-groups'
  /races/{id}/ethnic-groups/{groupId}:
    $ref: './races/paths.yaml#/~1{id}~1ethnic-groups~1{groupId}'
  /celestials/galaxies:
    $ref: './celestials/paths.yaml#/~1galaxies'
  /celestials/galaxies/{id}:
    $ref: './celestials/paths.yaml#/~1galaxies~1{id}'
  /celestials/solar-systems:
    $ref: './celestials/paths.yaml#/~1solar-systems'
  /celestials/solar-systems/{id}:
    $ref: './celestials/paths.yaml#/~1solar-systems~1{id}'
  /celestials/stars:
    $ref: './celestials/paths.yaml#/~1stars'
  /celestials/stars/{id}:
    $ref: './celestials/paths.yaml#/~1stars~1{id}'
  /celestials/planets:
    $ref: './celestials/paths.yaml#/~1planets'
  /celestials/planets/{id}:
    $ref: './celestials/paths.yaml#/~1planets~1{id}'
  /characters:
    $ref: './characters/paths.yaml#/~1'
  /characters/sync-demitrei:
    $ref: './characters/paths.yaml#/~1sync-demitrei'
  /characters/{id}:
    $ref: './characters/paths.yaml#/~1{id}'
  /characters/{id}/power-access:
    $ref: './characters/paths.yaml#/~1{id}~1power-access'
